
  header { width: 100%; height: 7rem;
		background-image: url(rising-sun.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 15rem; 
		background-color: #F58E79;  }
  
  body {  background-image: linear-gradient(0deg, #CBE6EF, #E5F2F7, #F0F8FA, #FBD0C7, #FCDED8, #F8E3CC);  }

  main {  }

  h1 {  font-family: 'Solway', serif;
	text-align: center;
	font-size: 5rem;
	margin: 0px;  }

  h2 {  font-family: 'Solway', serif;
	margin: 0px;
	font-size: 2.5rem;  }

  h3 {  font-family: 'Solway', serif;
	margin: 10px 0px 0px 0px;  }

  h4 {  font-family: 'Roboto', sans-serif;
	margin: 0px;  }

  p {  font-family: 'Roboto', sans-serif;  }

  p.footer  {text-align: center;
		margin: 0px 0px 5px 0px;  }

  ul {  font-family: 'Roboto', sans-serif;  }

  li.space {  margin: 0px 0px 5px 0px;  }

  footer {  background-color: #BBDEEB; 
	    padding: 20px;  }

  a, a:visited {  color: black;  }

  a#header {  text-decoration: none;  }

  ul#hmenu  {  margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;  }

  ul#hmenu li a {  display: block;
			text-align: center;
			text-decoration: none;
			font-size: 1rem;
			border-radius: 0.5rem;
			background-color: #F58E79;
			padding: 0.75rem;
			margin: 0.5rem;  }

  ul#pmenu  {  margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: row;
		justify-content: center;  }

  ul#pmenu li a {  display: block;
			text-align: center;
			text-decoration: none;
			font-size: 1rem;
			border-radius: 0.5rem;
			background-color: #FFDA66;
			padding: 0.75rem;
			margin: 0.5rem;
			min-width: 15vw;
			max-width: 20vw;  }

  img.portfolio-piece {  width: 100%;  }

  img.home-photo {  width: 100%;  }

  div#note {    background-color: rgba(255, 255, 255, .5);
		text-align: center;
		padding: 1.5rem;
		margin: 40px;  }


 @media screen and (max-width:840px) {

  h1 {  font-size: 3rem;  }

  h2.smcntr {  text-align: center;  }

  header {  padding: 2rem 0px 0px 0px;  }

  img.portfolio-piece {  display: none;  }

  div#about {  	background-color: rgba(255, 255, 255, .5);
		padding: 1.5rem;
		margin: 10px;  }

  div#contact-box {  	background-color: rgba(255, 255, 255, .5);
		padding: 1.5rem;
		margin: 10px;  }

  div#bio-photo {  display: none;  }

  div#contact  {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
  div#profile  {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
  div#education  {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
  div#experience {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;}
  div#skills  {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
  div#activities {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
  div#honors {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }

  div#PA  {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
  div#PB  {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
  div#PC  {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
  div#PD {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;}
  div#PE  {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
  div#PF {  background-color: rgba(255, 255, 255, .5);
			padding: 1rem;
			margin: 10px;  }
}

  @media screen and (min-width:840px) {

  div#home {  display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		grid-gap: 1rem;
		margin: 2rem 5rem 2rem 5rem;

		grid-template-areas:
		"about  learn";  }

  div#about {  	background-color: rgba(255, 255, 255, .5);
		padding: 1.5rem;
		grid-area: about;  }

  div#contact-box {  	background-color: rgba(255, 255, 255, .5);
		padding: 1.5rem;
		grid-area: about;  }

  div#bio-photo {  	padding: 1.5rem;
		grid-area: learn;  }

  div#resume {  display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-gap: 1rem;
		margin: 2rem 2.5rem 2rem 2.5rem;

		grid-template-areas:
		"contact  profile  profile"
		"education	education	education"
		"experience	experience	experience"
		"skills		skills		activities";  }


  div#contact  {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: contact;  }
  div#profile  {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: profile;  }
  div#education  {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: education;  }
  div#experience {  background-color: rgba(255, 255, 255, .5);
			grid-area: experience;
			padding: 1.5rem;  }
  div#skills  {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: skills;  }
  div#activities {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: activities;  }
  div#honors {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: honors;  }

 div#portfolio-pieces {  display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-gap: 1rem;
		margin: 2rem 2.5rem 2rem 2.5rem;

		grid-template-areas:
		"PA	PB"
		"PC	PD"
		"PE	PF"
		;  }

  div#PA {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PA;  }
  div#PB {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PB;  }
  div#PC {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PC;  }
  div#PD {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PD;  }
  div#PE {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PE;  }
  div#PF {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PF;  }

}


  @media screen and (min-width: 1024px) {

  div#home {  display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		grid-gap: 1rem;
		margin: 2rem 10rem 2rem 10rem;

		grid-template-areas:
		"about  learn";  }

  div#about {  	background-color: rgba(255, 255, 255, .5);
		padding: 1.5rem;
		grid-area: about;  }

  div#contact-box {  	background-color: rgba(255, 255, 255, .5);
		padding: 1.5rem;
		grid-area: about;  }

  div#bio-photo {  	padding: 1.5rem;
		grid-area: learn;  }

  div#resume {  display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto auto;
		margin: 2rem 2.5rem 2rem 2.5rem;

		grid-template-areas:
		"contact  profile  profile"
		"experience  experience  skills"
		"experience  experience  education"
		"experience  experience  activities";  }

  div#contact  {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: contact;  }
  div#profile  {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: profile;  }
  div#education  {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: education;  }
  div#experience {  background-color: rgba(255, 255, 255, .5);
			grid-area: experience;
			padding: 1.5rem;  }
  div#skills  {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: skills;  }
  div#activities {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: activities;  }
  div#honors {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: honors;  }

  div#portfolio-pieces {  display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto;
		grid-gap: 1rem;
		margin: 2rem 2.5rem 2rem 2.5rem;

		grid-template-areas:
		"PA	PB	PC"
		"PD	PE	PF"
		;  }

  div#PA {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PA;  }
  div#PB {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PB;  }
  div#PC {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PC;  }
  div#PD {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PD;  }
  div#PE {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PE;  }
  div#PF {  background-color: rgba(255, 255, 255, .5);
			padding: 1.5rem;
			grid-area: PF;  }


}


  @media (prefers-color-scheme: dark) { 

  body {  background-image: linear-gradient(0deg, #AA585B 10%, #383D71, #063D71, #042C50, #02192E, #010911 50%);  }

  main {  }

  header { width: 100%; height: 7rem;
		background-image: none;
		background-color: #AA585B;  }
  footer {  background-image: url(setting-sun.png);
		background-repeat: no-repeat;
		background-size: 10rem; 
		background-position: bottom center;
		background-color: #02192E; 
	    	padding: 20px;  }

  div#about {  background-color: rgba(255, 255, 255, .25);  }
  div#contact-box {  background-color: rgba(255, 255, 255, .25);  }
  div#contact  {  background-color: rgba(255, 255, 255, .25);  }
  div#profile  {  background-color: rgba(255, 255, 255, .25);  }
  div#education  {  background-color: rgba(255, 255, 255, .25);  }
  div#experience {  background-color: rgba(255, 255, 255, .25);  }
  div#skills  {  background-color: rgba(255, 255, 255, .25);  }
  div#activities {  background-color: rgba(255, 255, 255, .25);  }
  div#honors {  background-color: rgba(255, 255, 255, .25);  }

  div#PA {  background-color: rgba(255, 255, 255, .25);  }
  div#PB {  background-color: rgba(255, 255, 255, .25);  }
  div#PC  {  background-color: rgba(255, 255, 255, .25);  }
  div#PD  {  background-color: rgba(255, 255, 255, .25);  }
  div#PE  {  background-color: rgba(255, 255, 255, .25);  }
  div#PF {  background-color: rgba(255, 255, 255, .25);  }

  h1 {  color: white;  }
  h2 {  color: white;  }
  h3 {  color: white;  }
  h4 {  color: white;  }
  p {  color: white;  }
  ul {  color: white;  }
  a, a:visited {  color: white;  }

  ul#hmenu li a {  background-color: #AA585B;  }

  ul#pmenu li a {  background-color: white; color: #010911;  }

 }

  @media print { 

  body {  background-color: white;  }
  h1 {  font-size: 40pt; color: black;  }
  h2 {  font-size: 20pt; color: black;  }
  h3, h4 {  color: black;  }
  p.footer {  text-align: left; color: black;  }
  div#learn  {  display: none;  }
  div#portfolio-head  {  display: none;  }

 }
